.header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__links {
    width: 830px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    font-size: 2rem; 
}

.header__links a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.header__links a span {
    color: #7FF84F;
    font-weight: 500;
}

.header__line {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}